html {
  background: url(grained.jpg) repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: scroll;
}

div#main-grid {
  margin-top: 2.5em;
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-columns: calc(35% - 5px) calc(30% - 5px) calc(35% - 5px);
  grid-column-gap: 10px;
}

div#graph-div {
  border: 1px solid black;
  height: 100%;
  max-height: 100%;
  background-color: #ccc;
}

div#tsne-grid {
  background: transparent !important;
  display: grid;
  height: 100%;
  max-height: 100%;
  grid-template-rows: calc(50% - 5px) calc(50% - 5px);
  grid-row-gap: 10px;
}
div#tsne-grid > div {
  border: 1px solid black;
  background-color: #fff;
  overflow-y: hidden; /* TODO: THIS NEEDS TO BE FIXED so that the SVG is less high than there is space */
}

h3#status {
  margin-top: 2.5em;
}
section {
  display: block;
}
pre#log {
  height: 10em;
  background-color: #fff;
  color: steelblue;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  overflow-y: scroll;
  resize: vertical;
}
progress#model-load-progress {
  width: 400px;
}

#charts-col {
  overflow: scroll;
  max-height: 600px;
  background-color: #fff;
  border: 1px solid black;
  display: grid;
}

#charts-col > p {
  text-align: center;
}

#charts-col .chart-header {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

#charts-col .control > input {
  margin-left: 10px;
}

#ranking {
  max-height: 300px;
  overflow: scroll;
  border: 1px solid black;
}

#ranking-title {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

#ranking-title > span {
  display: inline-block;
  width: 220px;
}

table#ranking-content {
  width: 100%;
  margin-top: 1em;
  text-align: left;
}

table#ranking-content tbody tr:nth-child(odd) {
  background-color: #eee;
}

span#show-model-ops {
  cursor: pointer;
}


/* BELOW SVG STUFF FOR THE GRAPH */

div#svg-wrapper {
  position: relative;
}
div#svg-controls {
  padding-bottom: 1ex;
}
line {
  fill: none;
  stroke: #444;
  stroke-width: 3px;
}
div#zoom-panel {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #eee;
  border-width: 0 0 1px 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,.5);
  overflow: hidden;
}
div#zoom-inner {
  background-color: blue;
  background-color: rgba(0,0,255,.33);
  position: absolute;
}

foreignObject {
  fill: none;
  overflow: hidden;
  cursor: move;
}
foreignObject > body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  overflow: hidden; /* Note that we resize the FO to fit the body */
}
foreignObject > body > div {
  background-color: #fff;
  /* border: 2px solid blue; */
  border-radius: 6px;
}
/* foreignObject.metric body > div {
  border-color: red;
} */
foreignObject > body > div {
  margin: 0;
  padding: 0;
}
foreignObject > body > div h4 {
  margin: 0;
  padding: .5ex;
  word-wrap: break-word;
}
foreignObject > body meter {
  height: 5px;
  border: none;
  width: 100%;
  display: block;
}