html {
  background: url(grained.jpg) repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: scroll;
}

div#main-grid {
  margin-top: 2.5em;
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-columns: calc(35% - 5px) calc(30% - 5px) calc(35% - 5px);
  grid-column-gap: 10px;
}

div#graph-div {
  border: 1px solid black;
  height: 100%;
  max-height: 600px;
  background-color: #fff;
}

div#tsne-grid {
  background: transparent !important;
  display: grid;
  height: 100%;
  max-height: 600px;
  grid-template-rows: calc(50% - 5px) calc(50% - 5px);
  grid-row-gap: 10px;
}
div#tsne-grid > div {
  border: 1px solid black;
  background-color: #fff;
  overflow-y: scroll;
}

h3#status {
  margin-top: 2.5em;
}
section {
  display: block;
}
pre#log {
  height: 10em;
  background-color: #fff;
  color: steelblue;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  overflow-y: scroll;
  resize: vertical;
}
progress#model-load-progress {
  width: 400px;
}

#charts-col {
  overflow: scroll;
  max-height: 600px;
  background-color: #fff;
  border: 1px solid black;
  display: grid;
}

#charts-col > p {
  text-align: center;
}

#charts-col .chart-header {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

#charts-col .control > input {
  margin-left: 10px;
}

#ranking {
  max-height: 300px;
  overflow: scroll;
  border: 1px solid black;
}

#ranking-title {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

#ranking-title > span {
  display: inline-block;
  width: 220px;
}

table#ranking-content {
  width: 100%;
  margin-top: 1em;
  text-align: left;

}
table#ranking-content tbody tr td:nth-child(1),
table#ranking-content tbody tr td:nth-child(2) {
  cursor: pointer;
}

table#ranking-content tbody tr:nth-child(odd) {
  background-color: #eee;
}
div#model-ops-wrapper table tr td:first-child {
  text-align: right;
}

span#show-model-ops {
  cursor: pointer;
}


/* BELOW SVG STUFF FOR THE GRAPH */

div#svg-wrapper {
  position: relative;
}
div#svg-controls {
  padding-bottom: 1ex;
}
line {
  fill: none;
  stroke: #444;
  stroke-width: 3px;
}
div#zoom-panel {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #eee;
  border-width: 0 0 1px 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,.5);
  overflow: hidden;
}
div#zoom-inner {
  background-color: blue;
  background-color: rgba(0,0,255,.33);
  position: absolute;
}

foreignObject {
  fill: none;
  overflow: hidden;
  cursor: move;
}
foreignObject > body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  border-radius: 6px;
}
div.node-wrapper {
  margin: 0;
  padding: 0;
  background-color: #eee;
  border-radius: 6px;
  border: 1px solid #000;
  height: calc(100% - 2px);
}
div.node-wrapper h4 {
  margin: 0 0 3px;
  padding: 3px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  height: 32px;
}
div.node-wrapper div.meter-outer {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 4px;
  border: 1px solid #bbb;
  border-width: 1px 0 0;
}
div.node-wrapper div.meter-inner {
  height: 100%;
  background-color: darkblue;
}
div.node-wrapper table.node-props {
  display: block;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-weight: 100;
}
div.node-wrapper table.node-props tr {
  font-size: 10px;
  line-height: 10px;
}

#ranking-content > tbody > tr {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}